#hOne {
  color:red;
}

h1 {
  color:purple; 
}

h2 {
  color:blue;
}
      
body {
  background-color:#4bf0ff;
}

h6 {
  color:#330000; 
}

h1 {
  font-family:monospace;  
}

p {
  font-size:10pt;
}

#ulOne {
  font-family:impact;
}

#olOne {
  font-family:fantasy; 
}
b {
  font-size:15pt; 
}

#divTwo {
  background-color:#00cc33;
  height:100px;
  width:80px;
  padding-left:5px;
  padding-right:10px;
  padding-top:10px;
  padding-bottom:50px 
}
#ulTwo {
  list-style-type:square; 
}

* {  
  margin:0; 
}

.hr {
  background-color:purple;
}